.sliderBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 48px;
  line-height: 48px;
  background: #F7F7F7;
  border-radius: 10px;
  color: #FFC000;
  font-size: 16px;
  border: none;
  &:hover{
    background: #FFC000;
    color: #fff;
  }
}
.slippage-box{
  display: "flex"; 
  flex-direction:"row";
  align-items: center;
}
.slippage-input-box{
  flex: 1;
  height: 48px;
  line-height: 48px;
  background: #F7F7F7;
  border-radius: 10px;
  .slippage-input {
    width: 185px !important;
    height: 100%;
    line-height: 46px;
    background: transparent;
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .slippage-box{
    .sliderBtn{
      width: 50px !important;
    }
    .slippage-input{
      width: 70% !important;
    }
  }
}