.ComingSoonPage{
  position: fixed;
  top: 0;
  right: 0;
  left: 240px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  .ComingSoon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 720px;
    height: 240px;
    margin: 0 auto;
    top: 35vh;
    background: url(../../assets/img/page/btn.png) no-repeat center;
    margin-top: 35vh;
    padding-right: 64px;
    .font1{
      width: 427px;
      height: 129px;
      line-height: 129px;
      font-size: 48px;
      color: #fff;
      background: url(../../assets/img/page/btn3.png) no-repeat center;
      background-size: cover;
      margin-bottom: 0;
    }
  }
}
@media only screen and (max-width: 600px) {
  .ComingSoonPage{
    left: 0;
    .ComingSoon{
      width: 96%;
      background-size: contain;
      margin: 0 auto;
      margin-top: 35vh;
      .font1{
        width: 50vw;
        height: 20vw;
        line-height: 20vw;
        font-size: 16px;
        background-size: contain;
        // position: absolute;
        // right: 25vw;
        // top: 11vw;
        // font-size: 18px;
        // color: #fff;
      }
    }
  }
  
}